@import url("https://fonts.googleapis.com/css?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */
html {
  font-size: 10px;
  font-family: "Inconsolata", monospace;
  color: #c5c6c7;
  overflow-x: hidden; /* Magic fix to remove horizontal scroll */
}

body {
  background: #0b0c10;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

section {
  padding: 50px 0;
}

a {
  text-decoration: none;
  color: #66fcf1;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}

img {
  width: 100%;
}

/* Reusable */
.container {
  width: 90%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 10rem;
}

.section-heading h1 {
  font-size: 3.5rem;
  color: rgba(197, 198, 199, 0.5);
  text-transform: lowercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h1::before,
.section.heading h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(197, 198, 199, 0.75);
}

.section-heading h1::before {
  border-radius: 0.8rem;
  height: 3px;
  width: 10rem;
}

.section-heading h1::after {
  border-radius: 100%;
  bottom: -1rem;
  height: 1.5rem;
  width: 1.5rem;
}

.section-heading h6 {
  font-size: 1.6rem;
  font-weight: 300;
}

.has-margin-right {
  margin-right: 5rem;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/* Home */
.home {
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  height: 100vh;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(/images/landing.JPG);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
  }
}

.top-nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: popDown 0.5s;
}

.top-nav.sticky,
.top-nav.open {
  background-color: rgba(31, 40, 51, 0.75);
}

.top-nav {
  position: absolute;
  bottom: 0;
  z-index: 4000;
  height: 5vh;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
  width: 100%;
  background-color: rgba(11, 12, 16, 0.9);
}

.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 2rem;
}

.nav-link {
  color: #c5c6c7;
  font-size: 2.1rem;
  padding: 1rem;
  text-align: center;
  text-transform: lowercase;
  transition: 0.2s all ease-in;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  color: #66fcf1;
}

.top-nav.open {
  top: 0;
  position: fixed;
  border-radius: initial;
}

.menu-toggler {
  position: fixed;
  top: 5rem;
  right: 5rem;
  width: 3rem;
  height: 2rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  z-index: 5000;
}

.bar {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #66fcf1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 650ms ease-in-out;
}

.menu-toggler:hover > .bar {
  background-color: #45a29e;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  top: -1rem;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Make X menu-toggler */
.bar.open {
  transform: rotate(135deg);
}

.bar.open:before,
.bar.open:after {
  top: 0;
  transform: rotate(90deg);
}

.bar:after {
  top: 1rem;
}
/* Make X */

/* Rotate X on hover */
.menu-toggler.open:hover > .bar {
  transform: rotate(225deg);
}
/* Rotate X on hover */

.landing-text {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.landing-text h1,
.landing-text h6 {
  text-shadow: 2px 2px 2px rgb(31, 40, 51);
  font-weight: 200;
  margin: 0.4rem;
}

.landing-text h1 {
  font-family: "PT mono", monospace;
  font-size: 45pt;
  padding: 1rem;
  color: #66fcf1;
}

.landing-text h6 {
  font-size: 20pt;
  font-weight: 300;
  color: #c5c6c7;
}

/* Cursor */
.txt-type > .txt:after {
  content: "";
  box-shadow: 2px 2px 2px rgb(31, 40, 51);
  border-right: 0.05em solid;
  animation: blink 1s steps(1) infinite;
}
/* End header */

/* Start about */

.about .container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.about-heading h1 {
  font-size: 10rem;
  opacity: 0.3;
}

.about-heading h6 {
  font-size: 2rem;
  font-weight: 300;
}

.profile-img {
  flex: 1;
  margin-right: 5rem;
}

.about-details {
  flex: 1;
}

.social-media {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 5rem;
}

.social-media i {
  font-size: 3rem;
  transition: color 650ms;
  color: #c5c6c7;
}

.social-media i:hover {
  color: #66fcf1;
}

/* End about */

/* Start portfolio */
.filter-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  ul {
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 15px;
  }
}

.filter {
  font-size: 13pt;
  border: none;
  outline: none;
  padding: 0 7px;
  background: transparent;
  color: inherit;
  cursor: pointer;
  transition: 0.4s all ease-in;
  &.active {
    background: #66fcf1;
    color: #0b0c10;
  }

  &.active,
  &:hover {
    text-decoration: underline;
  }
}

#gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.portfolio-item {
  display: inline-flex;
  position: relative;
  justify-content: space-around;
  animation: fadeIn 1s;

  &:hover .portfolio-img {
    opacity: 0;
  }

  &:hover .portfolio-text {
    cursor: default;
    opacity: 1;
    top: 24%;
  }

  &:hover button {
    bottom: 24%;
    opacity: 1;
  }

  button {
    font-size: 13pt;
    position: absolute;
    opacity: 0;
    bottom: 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
}

.portfolio-img {
  max-width: 100%;
  transition: all 0.5s;
}

.portfolio-text {
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.portfolio-title {
  font-size: 16pt;
}

.highlight {
  font-size: 12pt;
}

/* End portfolio */

/* Start contact */
.contact {
  height: 100%;
}
form {
  width: 70%;
  margin: 0 auto;
}

form label {
  font-size: 1.7rem;
  line-height: 50px;
  position: absolute;
  transition: 0.5s;
  opacity: 0.5;
}

input,
textarea,
button[type="submit"] {
  position: relative;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: white;
}

.input-box.focus label {
  transform: translateY(-30px);
  font-size: 1.5rem;
  opacity: 1;
  color: #66fcf1;
}

textarea {
  height: 100px;
}

input,
textarea {
  background: transparent;
  border-bottom: 2px solid rgb(197, 198, 199);
}

button[type="submit"] {
  width: initial;
  background-color: #c5c6c7;
  color: #0b0c10;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 650ms;
}

button[type="submit"]:hover {
  background-color: #66fcf1;
}

/* End contact */

/* Start footer */
.copyright {
  width: 100%;
  text-align: center;
  border-top: 2px solid #1f2833;
  padding: 2rem 0;
  position: relative;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #66fcf1;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  cursor: pointer;
  animation: pulse 2s infinite;
}

.up i {
  color: #0b0c10;
  font-size: 2rem;
  margin: auto;
}

.copyright p {
  font-size: 1.4rem;
}
/* End footer */

/* Start animation */
@keyframes blink {
  50% {
    border-color: transparent;
    box-shadow: none;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(115, 138, 144, 0.99);
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(115, 138, 144, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(115, 138, 144, 0);
  }
}

@keyframes popDown {
  0% {
    transform: translateY(-100px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* End animation */
