@import url("https://fonts.googleapis.com/css?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
/* Start reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Inconsolata", monospace;
  color: #c5c6c7;
  overflow-x: hidden; /* Magic fix to remove horizontal scroll */
}

body {
  width: 100%;
  min-height: 100vh;
  background: #0b0c10;
  overflow-x: hidden;
}

section {
  margin: 10rem 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #66fcf1;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}

img {
  width: 100%;
}
/* End global */

/* Start reusable */
.container {
  width: 90%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 10rem;
}

.section-heading h1 {
  font-size: 3.5rem;
  color: rgba(197, 198, 199, 0.5);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h1::before,
.section.heading h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(197, 198, 199, 0.75);
}

.section-heading h1::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}

.section-heading h1::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1rem;
}

.section-heading h6 {
  font-size: 1.6rem;
  font-weight: 300;
}

.has-margin-right {
  margin-right: 5rem;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/* Start Slider */
.slideshow-container {
  width: 100%;
  position: relative;
}

.slide {
  display: none;
  width: 70%;
  margin: auto;
}

.slide img {
  width: 100%;
}

a[class|="arrow"] {
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
}

.arrow-left {
  left: 20px;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid #ffffff;
  transform: rotate(45deg);
  transition: left 0.5s;

  outline: none;
  &:hover {
    left: 15px;
  }
}

.arrow-right {
  right: 20px;
  border-bottom: 6px solid #ffffff;
  border-right: 6px solid #ffffff;
  transform: rotate(-45deg);
  transition: right 0.5s;
  outline: none;
  &:hover {
    right: 15px;
  }
}

.slide-desc {
  color: #f2f2f2;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: absolute;
  bottom: 0;
  width: 70%;
  text-align: center;
  background-color: #222428;
}

.dots-wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  li {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    margin: 10px 4px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s;
    &.active,
    &:hover {
      opacity: 1;
    }
  }
}
/* End Slider */

/* End reusable */

/* Start home */
.home {
  width: 100%;
  height: 100vh;
}

.top-nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1f2833;
  opacity: 0.75;
  animation: popDown 0.5s;
}

.top-nav {
  position: absolute;
  z-index: 4000;
  height: 6vh;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
  width: 100%;
}

.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 2rem;
}

.nav-link {
  color: #c5c6c7;
  font-size: 2.1rem;
  padding: 1rem;
  text-align: center;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  background: #66fcf1;
  color: #66fcf1;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.menu-toggler {
  position: fixed;
  top: 5rem;
  right: 5rem;
  width: 3rem;
  height: 2rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
}

.bar {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #66fcf1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 650ms ease-in-out;
}

.menu-toggler:hover > .bar {
  background-color: #45a29e;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  top: -1rem;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Make X */
.bar.open {
  transform: rotate(135deg);
}

.bar.open:before,
.bar.open:after {
  top: 0;
  transform: rotate(90deg);
}

.bar:after {
  top: 1rem;
}
/* Make X */

/* Rotate X on hover */
.menu-toggler.open:hover > .bar {
  transform: rotate(225deg);
}
/* Rotate X on hover */

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.landing-text h1,
.landing-text h6 {
  font-weight: 200;
  margin: 0.4rem;
}

.landing-text h1 {
  font-family: "PT mono", monospace;
  font-size: 9.75rem;
  padding: 1rem;
  color: #66fcf1;
}

.landing-text h6 {
  font-size: 4rem;
  font-weight: 300;
  color: #c5c6c7;
}

/* Cursor */
.txt-type > .txt:after {
  content: "";
  border-right: 0.05em solid #c5c6c7;
  animation: blink 1s steps(1) infinite;
}
/* End header */

/* Start about */
.about {
}

.about .container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.about-heading h1 {
  font-size: 10rem;
  opacity: 0.3;
}

.about-heading h6 {
  font-size: 2rem;
  font-weight: 300;
}

.profile-img {
  flex: 1;
  margin-right: 5rem;
}

.about-details {
  flex: 1;
}

.social-media {
  margin-top: 5rem;
}

.social-media i {
  font-size: 5rem;
  transition: color 650ms;
  color: #c5c6c7;
}

.social-media i:hover {
  color: #66fcf1;
}

/* End about */

/* Start portfolio */
.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.portfolio-item:last-child {
  margin-bottom: 0;
}

.portfolio-img {
  flex: 1;
}

.portfolio-description {
  flex: 1;
}

.portfolio-description h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.portfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}

.portfolio-description .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #3883ff;
  transition: color 650ms;
}

.portfolio-description .cta:hover {
  color: #2f67cd;
}
/* End portfolio */

/* Start contact */
.contact {
  height: 100%;
}
form {
  width: 70%;
  margin: 0 auto;
}

form label {
  font-size: 1.5rem;
}

input,
select,
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
  border: none;
  outline-color: #45a29e;
}

input[type="submit"] {
  width: initial;
  background-color: #c5c6c7;
  color: #0b0c10;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 650ms;
}

input[type="submit"]:hover {
  background-color: #66fcf1;
}

/* End contact */

/* Start footer */
.copyright {
  width: 100%;
  text-align: center;
  border-top: 2px solid #1f2833;
  padding: 2rem 0;
  position: relative;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #66fcf1;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  cursor: pointer;
  animation: pulse 2s infinite;
}

.up i {
  color: #0b0c10;
  font-size: 2rem;
  margin: auto;
}

.copyright p {
  font-size: 1.4rem;
}
/* End footer */

/* Start animation */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(115, 138, 144, 0.99);
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(115, 138, 144, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(115, 138, 144, 0);
  }
}

@keyframes popDown {
  0% {
    transform: translateY(-100px);
  }
}

/* End animation */

/* media queries */

@media screen and (max-width: 1200px) {
  .nav-link {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 1127px) {
  .nav-link {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 1020px) {
  .landing-text h1 {
    font-size: 7.3125rem;
  }
  .landing-text h6 {
    font-size: 3rem;
  }
  .menu-toggler {
    display: flex;
  }
  .top-nav {
    height: 100vh;
    top: -100vh;
    opacity: 0.98;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
  }
  .nav-list {
    flex-direction: column;
  }

  li {
    margin: 2rem 0;
  }

  .about-heading h1 {
    font-size: 8rem;
  }

  .section-heading h1 {
    font-size: 3rem;
  }

  .about-details .nav-list {
    flex-direction: initial;
  }

  .about-details li {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 768px) {
  .landing-text h1 {
    font-size: 7.3125rem;
  }
  .landing-text h6 {
    font-size: 3rem;
  }
  .menu-toggler {
    display: flex;
  }
  .top-nav {
    position: fixed;
    height: 100vh;
    top: -100vh;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
  }
  .nav-list {
    flex-direction: column;
  }

  li {
    margin: 2rem 0;
  }

  .about-heading h1 {
    font-size: 8rem;
  }

  .section-heading h1 {
    font-size: 3rem;
  }

  .about-details .nav-list {
    flex-direction: initial;
  }

  .about-details li {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 600px) {
  .menu-toggler {
    top: 2rem;
    right: 2rem;
  }

  .landing-text h1 {
    font-size: 5.7rem;
  }

  .landing-text h6 {
    font-size: 2.34rem;
  }

  .about .container {
    flex-direction: column;
  }

  .profile-img {
    margin: 0 0 7rem 0;
  }

  .portfolio-item {
    flex-direction: column;
  }

  .portfolio-img {
    margin: 0 0 2rem 0;
    order: 1;
  }

  .portfolio-description {
    margin: 0;
    order: 2;
  }

  form {
    width: 100%;
  }

  .up {
    right: 2rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 310px) {
  .nav-link {
    font-size: 1.8rem;
  }
}
